{% assign product_url = product-loop.url | within: collection %}
{% if product-loop.featured_image == blank %}
  {% include 'image-placeholder' %}
  {% assign image = image | link_to: product_url %}
{% else %}

	{% assign image2 = product-loop.images.last | product_img_url: 'grande_cropped' | img_tag: product-loop.images.last.alt, 'hidden' %}
{% endif %}

<a href="{{product_url}}">
<img class="unveilme{% if product-loop.images.size < 2 %} single-thumb{% endif %}"  data-src="{{ product-loop.featured_image.src | product_img_url: 'grande_cropped' }}" src="{{ 'blankimage.png' | asset_img_url: '300x' | product_img_url: "grande"}}">
</a>

<a class="hidden" href="{{product_url}}">{{ image2 }}</a>



{% if product_collection.metafields.secondary-image.show == 'true' and product-loop.metafields.secondary-image.src != blank %}
  {% capture image_secondary %}{{ product-loop.metafields.secondary-image.src | img_tag | link_to: product-loop.url }}{% endcapture %}{{ image_secondary | strip }}
{% endif %}

